<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카카오 OAuth2 로그인 테스트</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .login-img {
            width: 200px;
            cursor: pointer;
            margin: 20px;
        }
    </style>
</head>
<body>
<h1>카카오 OAuth2 로그인 테스트</h1>
<a th:href="'https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=' + ${kakaoApiKey} + '&redirect_uri=' + ${kakaoRedirectUri}">
    <img src="/images/kakao_login.png" alt="Kakao 로그인" class="login-img">
</a>
</body>
</html>
